@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    135deg,
    #e6f4f1,
    #c7ebe0,
    #b2e4d6
  );
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}